
.font-azeret {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;

}

.title{
    font-size: 30px;
    color: rgb(43, 42, 42);
    font-weight: 800;
}

.nav-button {
    padding: 10px;
    font-size: 20px;
    display: inline-flex;
    padding: 17px 24px;
    align-items: center;   
    border-radius: 8px;
    border: 2px solid #0D1321;   
    background-color: white;
    cursor: pointer;
    height: 60px;
}
.nav-button:hover{
    background-color: #0D1321;
    border: none;
    color: white;
    transition-duration: 0.5s;
    
}
header{
    background-image: url('/assets/Hero-bg.png');
    height: 700px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-heading{
    font-size: 50px;
    font-weight: 800;
    width: 1000px;
    text-align: center;
}
.button{
    padding: 10px;
    font-size: 20px;
    display: inline-flex;
    padding: 17px 24px;
    align-items: center;   
    border-radius: 8px;
    border: none;
   color: white;  
    background-color: #0D1321;
    cursor: pointer;
    height: 60px;
}
.button:hover{
    align-items: center;   
    border: 2px solid #0D1321;   
    background-color: white;
    cursor: pointer;
    color: black;
}
.description{
    width: 1000px;
    text-align: center;
    margin-bottom: 50px;
    line-height: 26px;
}
.development-section{
    width: 1200px;
    margin: auto;
    padding: 50px;
    background-color: rgb(255, 251, 246);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    border-radius: 10px;
}
.web-Button{
    background-color: white;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 400;
    font-family: "Azeret Mono", monospace;
    border: 1px solid black;
}
.card{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 1000px;

}
.support-section{
    width: 1200px;   
    height: 400px;
    background: rgb(0,0,0,0.5) url('/assets//handshake.jpg');
    margin: auto;
    background-blend-mode: darken;
    background-position: center;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}